homework1/build-homework1-Desktop-Debug/
homework1/homework1/files/.simpleTest.swp
homework1/homework1/ideas
homework1/homework1.tar.gz
homework1/ideas
homework1/homework1/homework1.pro.user
build-homework2-Desktop-Debug/
homework2/homework2.pro.user
list/
build-homework2-Desktop-Release/
homework2/homework2.tar.gz
homework3/build-homework3-Desktop-Debug/
homework3/homework3.zip
